<ion-header>
  <ion-toolbar>
    <ion-title>homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<section class="bgcategory">

<div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static.vinepair.com/wp-content/uploads/2015/10/wine-shop-social.jpg" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <img src="https://s.hdnux.com/photos/01/02/27/34/17397520/5/920x920.jpg" alt="Chicago">
          </div>
          <div class="carousel-item">
            <img src="https://www.customwinecellarssanfrancisco.com/wp-content/uploads/2016/10/wine-cellar-collection-management-california.jpg" alt="New York">
          </div>
        </div>
        
     
        <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a> -->
      </div>

<!-- end slider -->
<section id="bgccategory">
<div class="container-fluid top80">
  <div class="row" >
    <div class="col-6" >
        <a [routerLink]="['/barname']">
      <div class="circle">
      <img src="https://img.mshanken.com/d/wso/bolt/Featured/Ratings/dailywinepicks_1600.jpg?w=800&q=90" >
     <p>VODKA</p>
    </div>
</a>
    </div>
    <div class="col-6" >
        <a [routerLink]="['/barname']">
          <div class="circle">
            <img src="https://img.mshanken.com/d/wso/bolt/Featured/Ratings/dailywinepicks_1600.jpg?w=800&q=90" >
            <p>WINE</p>
          </div>
          </a>
      </div>

  </div>


  <div class="row" >
      <div class="col-6" >
          <a [routerLink]="['/barname']">
        <div class="circle">
        <img src="https://img.mshanken.com/d/wso/bolt/Featured/Ratings/dailywinepicks_1600.jpg?w=800&q=90" >
       <p>VODKA</p>
      </div>
  </a>
      </div>
      <div class="col-6" >
          <a [routerLink]="['/barname']">
          <div class="circle">
              <img src="https://img.mshanken.com/d/wso/bolt/Featured/Ratings/dailywinepicks_1600.jpg?w=800&q=90" >
              <p>WINE</p>
            </div>
            </a>
        </div>
  
    </div>
</div>

</section>


    </section>

</ion-content>
