<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bars</ion-title>
    <ion-title slot="end">Dwarka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="bgbarname">
    <!-- card -->
    <div class="row" no-padding>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let item of results">

        
        <!-- <a class="width-100" [routerLink]="['/bardetails/',item?.id]"> -->
          <a class="width-100" (click)="barDetails(item.id)">
            <div class=" card_1">
              <div class="barimage">
                <img class="card-img-top img-fluid" img src="{{item.image}}" alt="Card image cap">
                <p>Details</p>
              </div>
            </div>
            <div class="card-block">
              <div class="container">
                <div class="row">
                  <div class="col-6 col-sm-6">
                    <div class="barname">
                      <h4>{{item.name}}</h4>
                      <p>{{item?.address}}</p>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6">
                    <div class="rating">
                      <p>Price: <del>Rs. {{item?.discountedPrice}}</del> <ins> Rs. {{item?.actualPrice}}</ins></p>

                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    <!--  <ion-icon name="star-outline"></ion-icon>
                         <ion-icon name="star-outline"></ion-icon>
                         <ion-icon name="star-outline"></ion-icon>
                         <ion-icon name="star-outline"></ion-icon> -->
                         <span>{{item.rating}}</span>


                       </div>
                     </div>
                   </div>
                 </div>
               </div>

             </a>


           </div>

         <!-- </div> -->



       </div>
       <!-- card -->

     </section>


   </ion-content>