.bgbarname{background-image: url("/assets/images/07.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #000; */
  width: 100%; position: relative; 
color: #fff;



}
.width-100 img { width: 100%;
 box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.2), 0 6px 20px 0 rgba(50, 50, 50, 0.19);
 }
.width-100{ width: 100%;}
ion-text,ion-title{ color:white; font-weight:bold;}

  p{ font-family: 'Roboto', sans-serif;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  .card_1 {
   margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
#fontf{ font-family: regular;font-weight: bold;font-size:20px;}
.checked {
    color: orange;}
    .rating span{ font-size: 12px; margin-right: 2px;}

    .rating{ text-align: right;}
    .rating span{ text-align: right;}
    .rating p { font-size: 12px; margin:0px;}
    .barname h4{ font-size: 16px; margin-bottom: 0;  font-weight: 1000; font-family: regular;}
    .barname p{ font-size: 12px; }
    .card-block { color: white;}
.rating ins{color: #00fff5; font-weight: bold;font-size: 16px; margin: 0 7px}
    .barimage p{ margin-top: -30px; position: absolute; right: 5%; margin-bottom: 3%; border-radius: 5px;
       background-color: #000; color: white; padding: 4px 22px; text-align: center; font-size: 12px;}

       #bgcbarname {  background-color: rgba(0,0,0,0.2);
        height: 100%;  
       }
       
       @media screen and (min-width:300px) and (max-width:460px){
       
        .barimage img { height: auto; width: 96%; margin: 2%; }   
       }
       @media screen and (min-width:460px){
        .barimage img { height: 35vh; width: 96%; margin: 2%} 
          
       }