<ion-content>
	<section class="bgotp">
		<form (ngSubmit)="onSubmit()">
			<div class="container" id="bgcotp">


				<div class="otplogo">
					<div class=" text-center">
						<a [routerLink]="['/register']"> <img class="img-responsive  " src="./assets/logo/msg.png"></a>
					</div>
					<div class="otptext">

						<p> Enter One Time Password (OTP) </p>
						<ion-input [(ngModel)]="otp" name="mobile" type="number" size="6"></ion-input>

						<br>
						<p> <button class="rbotton3" (click)="resendPostRequest()">Resend OTP </button> &nbsp; | &nbsp; <span>{{timeLeft}} Second Remaining</span> </p>
						<button ion-button expand="full" (click)="onSubmit()" class="rbotton2">Login</button>
					</div>
				</div>

			</div>
		</form>
	</section>



</ion-content>