.bgotp {background-image: url("/assets/images/03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    height: 100vh; width: 100%; position: relative; }

.otplogo {    position: absolute;
    left: 0;
    top: 8%;
    width: 100%;
    text-align: center;
    color: #000;

}

.otptext h4{ font-size: 5vw; text-align: center; color: #fafafa; padding: 12px 0 20px 0 }
.minbox { color: #fafafa;  }
.otptext p{ color: #fff; font-size: 14px; letter-spacing: 1px;  padding: 15px 0;}

.otptext ion-input{ color: #fff; font-weight: bold;text-align: left;}
.native-input.sc-ion-input-md {
   padding-left: 0px!important;
}
.rbotton2 {    background: #fff;
    border: 1px solid green;
    padding: 2px 20px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
   
 }
 .rbotton3 { background: none; border: none; color: #fff; }
 .otptext ion-input {
display: inline-block;
 width: 30%;border: none; border-bottom: 2px solid #fff; background: none; margin-right: 7px; }


 #bgcotp { background-color: rgba(0,0,0,0.2);
    height: 100vh;
    border: 15px solid rgba(0,0,0,0.5);
}

@media screen and (min-width:300px) and (max-width:460px){
.otplogo img{ height: 130px; width: 130px;}
    
}
@media screen and (min-width:460px) and (max-width:769px){
    .otplogo img{ height: 180px; width: 180px;}  
}
