ion-card-subtitle{ color:#fafafa; }
.new2 {
  border-top: 1px dashed white;
}
#swname { font-size:4vw;}
#spname { font-size:6vw;}
ion-card-title { color:#fff;}
.hrstyle{ background:#fff; padding:1px; }

 p { color:#ffffffb0;}

 
.image {
     height: 5vw; 
     width: 5vw; 
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}