<ion-header>
   <ion-toolbar  color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>mybookings</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content color="dark">

<ion-item color="dark">
    <ion-thumbnail slot="end">
      <ion-img src="/assets/logo/cash.png"></ion-img>
    </ion-thumbnail>
         
          <ion-label>
             <ion-card-title id="spname">Shreeram Sweets</ion-card-title>
         <p>Uttam Nagar</p>
         <p> ₹ 330 ></p>
          </ion-label>
        </ion-item>
        <hr class="hrstyle">
        <ion-item color="dark">
    <ion-thumbnail slot="end">
      <ion-img src="/assets/logo/online.png"></ion-img>
    </ion-thumbnail>
         
          <ion-label>
             <ion-card-title id="spname">Shreeram Sweets</ion-card-title>
         <p>Uttam Nagar</p>
         <p> ₹ 330 ></p>
          </ion-label>
        </ion-item>
        <hr class="hrstyle">

</ion-content>
