<ion-header >
  <ion-toolbar color="dark">
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entry Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="bg-image no-scroll">
	<!-- <ion-slides class="slider-sec">
			<ion-slide>
				<img src="http://daru.club/daru-asset/images/slider/1.jpg" alt="">
			</ion-slide>
			<ion-slide>
				<img src="https://media.timeout.com/images/101516853/image.jpg" alt="">
			</ion-slide>
			<ion-slide>
				<img src="assets/images/s1.jpg" alt="">
			</ion-slide>
			<ion-slide>
				<img src="https://www.customwinecellarssanfrancisco.com/wp-content/uploads/2016/10/wine-cellar-collection-management-california.jpg" alt="">
			</ion-slide>
		</ion-slides>
		 -->
		 
<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
    	<div class="swiper-slide"><img src="assets/images/s8.jpg" alt=""></div>
      <!-- <div class="swiper-slide"><img src="assets/images/s1.jpg" alt=""></div> -->
      <div class="swiper-slide"><img src="assets/images/s2.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/images/s3.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/images/s4.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/images/s5.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/images/s6.jpg" alt=""></div>
      <div class="swiper-slide"><img src="assets/images/s7.jpg" alt=""></div>
      
     
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
   <!--  <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>

  <!-- Swiper JS -->



		<ion-grid class="bg-image">
			<ion-row>       
				<ion-col  size='6'>
					<div class="welcome-card" [routerLink]="['/brandlist/'+data]">
						<div class="circle"> 
							<img src="http://daru.club/images/stag"/>
							<ion-card-subtitle>Stag Entry</ion-card-subtitle>
						</div>
					</div>
				</ion-col>

				<ion-col  size='6'>
					<div class="welcome-card" [routerLink]="['/brandlist/'+data]">
						<div class="circle"> 
							<img src="http://daru.club/images/couple"/>
							<ion-card-subtitle>Couple Entry</ion-card-subtitle>
						</div>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ion-content>
