<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-text slot="primary"> {{results?.name}} </ion-text>
		<ion-title slot="end">3.4</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding class="bghoteldetails">
	<section id="bghoteldetails">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-6 col-12">

				<div class="" id="bgchotelname">
					<ion-slides no-padding *ngIf="sliderImages && sliderImages.length > 0">
						<ion-slide *ngFor="let item of sliderImages">
							<img src="{{item?.src}}" alt="Slider Images" class="image-responsive image">
						</ion-slide>

					</ion-slides>
					<div class="row">
						<ion-text class="address"><span style="color: orangered">Address:-</span> {{results?.address}}</ion-text>

					</div>
				</div>

				<!-- section-02 -->
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="hdtimeday">
								<table class="daysname">
									<tr>
										<th></th>
										<th></th>
										<th></th>
									</tr>
									<tr>
										<td style="color: orangered">Hours:</td>
										<td>{{results?.open_time}}</td>
										<td></td>
									</tr>

								</table>
							</div>

						</div>


					</div>
					<div class="row">
						<div class="col-6">

						</div>
						<div class="col-6">

						</div>

					</div>

				</div>
				<div class="menubtn">
					<!-- <a  [routerLink]="['/bookingpage',results?.id]"> -->
						<a (click)=openmap(results?.address)>
							<button class="btnmenu">Navigate</button>
						</a>
						<a (click)="bookNow(results?.id)">
							<button class="btnmenu">Book Now</button>
						</a>
					</div>
					<div #map id="map"></div>

				</div>


				<div class="col-xs-12 col-sm-6 col-lg-6 col-12">
					
					<!-- end section-02 -->
					<div class="container" style="margin-top: 20px; padding-bottom: 30px;">
						<h4 class="tclr">Top Reviews</h4>


						<div class="row" *ngFor="let items of reviews">
							<div style="margin-top: 10px;width: 90%; background-color: none!important; margin: auto;">
								<ion-item>
									<ion-thumbnail slot="start" class="reviewimage">
										<img src="https://photogallery.indiatimes.com/photo/65022493.cms">
									</ion-thumbnail>
									<ion-label class="revietext">
										<h6>{{items.name}}</h6>
										<!-- <p>17 review | 5 photo</p> -->
										<div class="rating2">
											<ion-icon name="star-outline"></ion-icon>
											<ion-icon name="star-outline"></ion-icon>
											<ion-icon name="star-outline"></ion-icon>
											<ion-icon name="star-outline"></ion-icon>
											<ion-icon name="star-outline"></ion-icon>
											<span>{{items.rating}}</span>
										</div>
										<p>{{items.review}}</p>
									</ion-label>
								</ion-item>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			

			



		</section>

	</ion-content>
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyA7vN4uTrsDvIg3lcwjaQO5JtYSt63Tqec"></script>