#bghoteldetails {background-image: url("/assets/images/08.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    width: 100%; 
    position: relative; 
color: #fff;

}

.image { padding-top: 5% !important; max-width: 90%; max-height:350px}
.address{ padding: 4% 12%; text-align: center}

.item-native {--background: #fff!important;}

.card-block{ padding: 20px 0 10px 0;}
.hdaddress{background-color: #222; }
.hdaddress p{ font-size: 4vw ; font-weight: 500; padding: 0 15px;}
.card_1 {
    margin-bottom: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
 }
 .daysname td{ font-size: 14px; font-weight: 500; }
 .daysname { text-align:center; width: 50%; margin: auto;}
 .checked {
     color: orange;}
 
     .rating{ text-align: right;}
     .rating span{ text-align: right;}
     .rating p { font-size: 12px;}
     .barname h4{ font-size: 16px; margin-bottom: 0;  font-weight: 1000;}
     .barname p{ font-size: 12px; }
     .barimage img{ width: 100%;padding-top:5% }
 
     .barimage p{ margin-top: -5.1%; position: absolute; right: 0;  background-color: #000; color: white; padding: 2px 6px; width: 50px; font-size: 12px;}

     .reviewimage{ text-align: right;}
.reviewimage img { width: 40px; height: 40px; border-radius: 50%; }
.tclr{ color: orangered; font-size: 16px;}
.revietext h6{font-size: 15px; margin-bottom: 0; }
.revietext p{font-size: 14px; margin-bottom: 0; }
.rating2 span{ font-size: 12px; margin-right: 2px;}
.btnmenu {padding: 3px 16px;  background-color: red; color: #fff;font-size: 14px;  }
.menubtn { margin: auto; text-align: center; padding: 50px 0 30px 0;}

#bgchotelname { background-color: rgba(0,0,0,0.2);
    height: auto;  
}

@media screen and (min-width:300px) and (max-width:460px){
.carousel-inner img{ height: 300px;}
 .daysname { text-align:center; width: 100%;}
    
}
@media screen and (min-width:460px) and (max-width:769px){
    .carousel-inner img{ height: 300px; }  
    .circle img { height: 150px; width: 150px; border-radius: 50%;}
 .daysname { text-align:center; width: 90%; margin: auto;}
}

ion-text,ion-title{ color:white; font-weight:bold; width: auto}

