.bgcartlist{background-image: url("/assets/images/08.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #000;
width: 100%; 
position: relative; 
padding: 0 0 100px 0;
 height:auto;
}