<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark"  class="">
	<section class="">
		<ion-item color="dark">
		  <ion-label>Name</ion-label>
		  <ion-input></ion-input>
		</ion-item>

		<ion-item color="dark">
		  <ion-label>Email</ion-label>
		  <ion-input></ion-input>
		</ion-item>

		<ion-item color="dark">
		  <ion-label>Contact Number</ion-label>
		  <ion-input></ion-input>
		</ion-item>


		<ion-item color="dark">
		<ion-label position="stacked">Summary</ion-label>
		  <ion-textarea value="">
		  </ion-textarea>
		</ion-item>


		<ion-button (click)="presentAlert()" expand="block">Submit</ion-button>
	</section>

</ion-content>
