
ion-icon { color:white;}
ion-label {color:white; font-weight: bold;
    text-transform: uppercase; font-size:2.7vw; }


@media screen and (max-width: 768px){
	ion-tab-bar{ height:50px; }
	ion-label { font-size:12px; } 
}

@media screen and (min-width: 769px){
	ion-tab-bar{ height:50px; } 	
	ion-label { font-size:14px; } 
}

