
main {background-image: url("/assets/images/07.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    width: 100%; position: relative; 
color: #fff;

}