.bg-image {
background-image: url('/assets/images/04.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #000;
width: 100%; 
position: relative; 
height: auto
}

ion-content {
background: url('/assets/images/04.jpg') no-repeat center center fixed !important;
background-size: cover;
}
ion-col{
padding-top:10%;
padding-bottom:10%;
}
.no-scroll .scroll-content {
overflow: hidden;
}
.bgcategory {background-image: url("/assets/images/04.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-color: #000;
width: 100%; position: relative; height: 100%;}

ion-slide img {
width: 100%;
}


.circle { margin: auto; text-align: center;}
.circle img { height: 100px; width: 100px; border-radius: 50%;
box-shadow: 0px 0px 6px 3px #888888;
/* box-shadow: 0 0 0 5px #2f2e2ea6; */

}
.circle P { color: #FFF; font-weight: 500; padding: 10px 0; font-size: 14px;}
.top80 { margin-top:60px; padding-bottom: 100px;}

#bgccategory { background-color: rgba(0,0,0,0.2);
height: 100%;
border: 15px solid rgba(0,0,0,0.5);
}

@media screen and (min-width:300px) and (max-width:460px){


}
@media screen and (min-width:460px) and (max-width:769px){
.carousel-inner img {

height: 220px;}
.carousel-inner img{ height: 300px; }  
.circle img { height: 90px; width: 90px; border-radius: 50%;}
}

.slider-sec img { width: 100%; height: auto; }

.swiper-slide img{ height: auto; width: 100%; }
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

@media screen and (min-width: 768px){

.circle img { height: 135px; width: 130px; border-radius: 50%;
box-shadow: 0px 0px 10px 6px #888888;
/* box-shadow: 0 0 0 5px #2f2e2ea6; */

}
.swiper-container {
width: 100%;
height: auto;
}

}


@media screen and (min-width: 1100px){

.circle img { height: 175px; width: 175px; border-radius: 50%;
box-shadow: 0px 0px 10px 6px #888888;
/* box-shadow: 0 0 0 5px #2f2e2ea6; */

}
.swiper-container {
width: 100%;
height: auto;
}

.bg-image {

height: auto !important;
}
}


@media screen and (min-width: 1400px){

.circle img { height: 175px; width: 175px; border-radius: 50%;
box-shadow: 0px 0px 10px 6px #888888;
/* box-shadow: 0 0 0 5px #2f2e2ea6; */

}
.swiper-container {
width: 100%;
height: auto;
}

}

@media screen and (max-width: 767px){    

.swiper-container {
width: 100%;
height: auto;
}    

.bg-image {
height: 100% !important;
}
}

@media screen and (man-width: 480px){    

.swiper-container {
width: 100%;
height: auto;
}

}
