<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
	<ion-list no-padding>
  <ion-item  color="dark"  [routerLink]="['/myprofile']">
    <ion-label>My Profile</ion-label>
  </ion-item>
  <ion-item  color="dark">
    <ion-label>Search</ion-label>
  </ion-item>
  <ion-item  color="dark"  [routerLink]="['/mybookings']">
    <ion-label>My Bookings</ion-label>
  </ion-item>
  <ion-item  color="dark" [routerLink]="['/contact']">
    <ion-label>Feedback</ion-label>
  </ion-item>
  <ion-item  color="dark" [routerLink]="['/faq']">
    <ion-label>FAQs</ion-label>
  </ion-item>
  <ion-item  color="dark" [routerLink]="['/register']">
    <ion-label>Logout</ion-label>
  </ion-item>
</ion-list>
</ion-content>
