.bgcartlist{background-image: url("/assets/images/08.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #000;
width: 100%; 
position: relative; 
padding: 0 0 100px 0;
 height:auto;
}
.bookimg img { width: 80px!important; height: 80px!important; }
.btnmenu {padding: 3px 16px;  background-color: red; color: #fff;font-size: 16px; border-radius: 5px; }
.menubtn { margin: auto; text-align: center; padding: 50px 0 30px 0;}

.square { margin: auto; text-align: right;}
.square img { height: 170px; width: 100%; }
.cisquarercle P { color: #FFF; font-weight: 500; padding: 10px 0; font-size: 14px;}
.squaretext{  bottom: 0; text-align: center}
.squarebname h6 { font-size: 15px ;  background-color: #222222a3; color: white;   text-transform: uppercase;
letter-spacing: 1px;width: auto; line-height: 25px; padding: 5px; text-align: center; }
.btncrt { font-size: 13px;
padding: 2px 8vw;
color: red;
border-radius: 4px;
margin: 5px 0;
text-align: center;
background: white;
font-weight: 600;
border: 1px solid red; }
#field1 { margin-right: 10px; }
#field1 input { width: 30px; height:30px;margin:0 5px; text-align: center; }
#field1 button{ height:30px; width: 30px; text-align: center; border-radius:50%; color:white;background-color:red;  }

.inlinebtn { display: inline-flex;}
#top60 { margin-top: 60px;}
#pad60 { padding-top: 60px; width: 100%}

#bgccartlist {  background-color: rgba(0,0,0,0.2);
height: 100%;
border: 15px solid rgba(0,0,0,0.5);
}
@media screen and (min-width:300px) and (max-width:440px){

.inlinebtn { display: block;}
}
@media screen and (min-width:460px) and (max-width:769px){
.square img { height: auto; width: 100%; }
}