<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Here</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bgcartlist">
  <section class="bgcartlist">
    <ion-grid>
      <ion-row>
        <ion-col class="col-sm-6 col-xs-12 col-lg-4 col-12" *ngFor="let item of results; let i=index">
          <ion-row id="pad60">
            <ion-col class="col-sm-4 col-xs-4 col-4">
              <div class="bookimg">
                <img class="image-responsive" src="{{item.image}}">
              </div>
            </ion-col>
            <ion-col class="col-sm-8 col-xs-8 col-8">
              <div class="squaretext">
                <div class="squarebname">

                  <h6>{{item.name}}</h6>

                </div>
                <span class="inlinebtn">
                  <div id="field1">
                    <button type="button" id="sub" class="sub" (click)="decreamentQty(item, i)">-</button>
                    <input type="number" id="1" value="1" [(ngModel)]="item.qty" min="1" max="3" />
                    <button type="button" id="add" class="add" (click)="increamentQty(item, i)">+</button>
                  </div>
                </span>
                <!-- <button class="btncrt cbtn btn-info" (click)="payWithRazor()"> Book</button> -->
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="menubtn">      
      <button (click)="cropUpload()" class="btnmenu">Party Over</button>
    </div>  
    </section> 

    <div class="fixed-bottom" *ngIf="paymentAmount >0 ">
      <div class="card">
        <div class="card-body py-1 ">
          <p class="card-text">
            <span class="float-left">(Rs. {{paymentAmount}})</span>
            <span class="float-right">
              <button type="button" class="btn btn-primary btn-sm" (click)="payWithRazor(paymentAmount)">Make Payment</button>
            </span>
          </p>
        </div>
      </div>
    </div>
  </ion-content>