:root {
  --color: red;
}
.bgbrandlist{ background-image: url("/assets/images/04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    width: 100%; 
    position: relative; 
    padding: 0 0 100px 0;
    height:90vh;
}
.p-t-25 { padding-top : 25px }
ion-item{ background:black;}
ion-label{color:#fafafa!important; }
ion-text { color:white; font-weight:bold;  }
.listbrands img{ width:80px; height:80px; border-radius:50%; box-shadow: 0px 0px 6px 3px #888888;}
.listbrands p {text-align:center; }
.namedaru { margin-top:10px;  margin-bottom:5px; }
.listbrands ion-col { margin:auto;text-align:center;}


@media screen and (min-width: 768px){
    .listbrands img{ width:110px; height:110px;}
}

@media screen and (min-width: 982px){
	.listbrands img{ width:150px; height:150px;}
}