<ion-header >
  <ion-toolbar color="dark">
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Brands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="bgbrandlist">
<section class="bgbrandlist">
<ion-grid>
  <ion-row class="listbrands">
    <ion-col class="col-6 col-xs-6 col-sm-4 col-lg-3 col-xl-3" *ngFor="let item of results" [routerLink]="['/barlist/'+item.id]"  color="dark">
      <div class="p-t-25">
        <img src="{{item.brandimage}}">
       </div>
         <p class="namedaru">{{item.brand_name}}</p> 
      
    </ion-col>
  </ion-row>
   
 
</ion-grid>

</section>
</ion-content>
