<ion-header>
  <ion-toolbar color="dark">
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>myprofile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" >
	<form #formCtrl="ngForm" color="dark">
      <div align="center" *ngIf="formCtrl.form.valid">
          
        <h1> Profile</h1>
        <img class="profile-image" src="assets/imgs/profile.jpg">
          <h4>{{person.name}}, {{person.company}}</h4>
          <h5>{{age}} years old</h5>
      </div>
  <ion-list color="dark">
    <ion-item  color="dark">
      <div class="circle-pic">
      <img src="http://autokadabra.ru/system/uploads/users/18/18340/small.png?1318432918" />
</div>
    </ion-item>
      <ion-item  color="dark">
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="person.name" name="name" required></ion-input>
      </ion-item>
      <ion-item  color="dark">
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="person.email" name="email" required></ion-input>
      </ion-item>
      <ion-item  color="dark">
        <ion-label floating>Phone No..</ion-label>
        <ion-input type="text" [(ngModel)]="person.phone" name="phone" required></ion-input>
      </ion-item>
      <ion-item  color="dark">
          <ion-label >Date Of Birth </ion-label>
          <ion-datetime required name="birthdate" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="dob" [ngModelOptions]="{standalone:true}"></ion-datetime>
      </ion-item>
      <ion-item  color="dark">
        <ion-label>Company</ion-label>
        <ion-select [(ngModel)]="person.company" name="company" required>
          
        </ion-select>
      </ion-item>
      
      <ion-item  color="dark">
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="person.password" name="password" required></ion-input>
      </ion-item>
      
      
  </ion-list>
  <div class="profilebtn">
  <ion-button color="success" [disabled]="!formCtrl.form.valid" ion-button block (click)="save()">Save</ion-button>
  <ion-button color="danger" ion-button block (click)="reset()">Reset</ion-button>
  </div>
</form>

</ion-content>
