page-profile {
    .profile-image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
ion-list { padding:0;}
ion-title{ color:white; }

.circle-pic { margin:auto; margin-top:10px; margin-bottom:10px; }

 .circle-pic img{
    width:26vw;
    height:26vw;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profilebtn { text-align:center;}