
ion-item{ color:white; margin-bottom:15px;}
ion-text{  font-weight:bold;}

.bgfilter{background-image: url("/assets/images/04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    width: 100%; position: fixed; 
   
    height:100vh;
}
 .bgfilter2 { margin-top:40px;}