<ion-header>
  <ion-toolbar left-padding color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-text> WHERE</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center" class="">
  <section class="bgfilter">
    <div class="">
	<ion-item color="black">
    <ion-label>Within</ion-label>
    <ion-select [(ngModel)]="distance" name="distance">
      <ion-select-option selected value="5">5 KM</ion-select-option>
      <ion-select-option value="10">10 KM</ion-select-option>
      <ion-select-option value="00">Entire City</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item color="black">
	  <ion-label>Time</ion-label>
	  <ion-datetime [(ngModel)]="time" name="time" displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
	</ion-item>

	 
    <ion-button ion-button (click)="searchpost()" color="light"  >
      <ion-text>Search</ion-text>
    </ion-button>
  </div>
</section>

</ion-content>
