
.bgregister {background-image: url("/assets/images/02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    height: 100%; width: 100%; position: relative; }

.registerlogo {    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    color: #000;

}
.fbd{ background: blue;
    color: white;
    border-radius: 5px;
    padding: 4px 12px; }
.registertext h4{ font-size: 21px; text-align: center; color: #fafafa; padding: 12px 0 20px 0 }
.minbox { color: #fafafa;  }
.registertext p{ color: #fff; font-size: 14px; }
.minbox ion-input{ border: none; border-bottom: 1px solid #fff; background: none;}
.mright {margin-right: 35%; }

.rbotton {    background: #fff;
    border: 1px solid green;
    padding: 2px 20px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
 }
 .eighteen ion-input{ color: #fff;}
 .eighteen { color: #fff; padding: 10px 0;}
 .minbox ion-input{ color: #fff; font-weight: bold;text-align: left; width:60%; margin:auto;}

 #bgcregister {background-color: rgba(0,0,0,0.2);
    height: 100vh;
    border: 15px solid rgba(0,0,0,0.5);
}

@media screen and (min-width:300px) and (max-width:460px){
.registerlogo img{ height: 130px; width: 130px;}
    
}
/*@media screen and (min-width:460px){
    .registerlogo img{ height: 130px; width: 130px;}  
}*/

/*.ion-checkbox ion-checkbox{  }*/
.sociallogin { margin-top: 15px; }
.logsocial { background-color: blue; margin-bottom: 5px;  padding: 4px 8px; font-size: 13px; border-radius: 5px; color: white; font-weight: 600;width: 200px}

.logsocial2 { background-color: red; padding: 4px 8px; font-size: 13px; border-radius: 5px; color: white; font-weight: 600; width: 200px}

@media screen and (min-width: 768px){
    .minbox ion-input{ width:350px; }
    .mright { margin-right: 0 }

}