<ion-content>
	<section class="bgregister">
		<div class="container" id="bgcregister">
			<div class="bgimage">

				<div class="registerlogo">
					<div class=" text-center">
						<a [routerLink]="['/register']"> <img class="img-responsive  " src="./assets/logo/logo.png"></a>
					</div>
					<div class="registertext">
						<h4><span style="color: yellow"> WELCOME</span> To DaruClub</h4>
						<p class="mright">Please Enter Your mobile No:</p>
						<form class="eighteen" action="">
							<p class="minbox">
								<ion-input [(ngModel)]="mobile" name="mobile" type="number" size="10"><img style="width:16px; height: 16px;" src="./assets/logo/flag.png"> &nbsp; +91 &nbsp;</ion-input>
							</p>
							<P class="item item-checkbox">			
								<span class="ion-checkbox">
									<ion-checkbox name="age" required [(ngModel)]="age" style="margin-top: -5px!important;" color="danger" slot="start"></ion-checkbox>
								</span>
								<span> &nbsp;&nbsp; I am 25+ </span>

							</P>
							<!-- </ul> -->
							<!--  <ion-input type="ion-checkbox" name="">I am 18+</ion-input> -->
							<!--  <ion-checkbox color="danger"> I am 18+ </ion-checkbox> -->
						</form>


						<button ion-button (click)="sendPostRequest()" class="rbotton">Continue</button>
					</div>
					<div class="sociallogin">
						<button class="btn logsocial"><i class="fa fa-facebook"></i> &nbsp;|&nbsp; Log In With Facebook</button><br>

						<button class="btn logsocial2"><i class="fa fa-google"></i> &nbsp;|&nbsp; Log In With Google</button>
					</div>
				</div>
			</div>
		</div>
	</section>



</ion-content>